<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Hemocentros</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js"></script>
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>Hemocentros</h1>
      <input type="email" class="input-field" placeholder="Email">
      <input type="password" class="input-field" placeholder="Senha">
      <a href="/Alerta/alerta.html" class="button-login">Login</a>
      <div class="register-text">Hemocentro sem cadastro?</div>
      <a href="#" class="register-link">Cadastre-se</a>
      <div class="icon"></div>
    </div>
    <img src="images/blood_bag_processed.png" />
  </div>
</body>
</html>
