<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Hemocentros</title>
  <link rel="stylesheet" href="home.css">
  <script src="home.js"></script>
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>Hemocentros</h1>
      <a href="../Cadastro/cadastro.html" class="button-login">Cadastro</a>
      <a href="../Login/login.html" class="button-login">Login</a>
      <div class="icon"></div>
    </div>
  </div>
</body>
</html>
