<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HemoAlert</title>
  <link rel="stylesheet" type="text/css" href="cadastro.css">
</head>
<body>
    <div class="tituloForm">Cadastro</div>
    <div id="formCadastro">
        <div id="primeira" class="linha1">
            <input type="text" id="nomeHemocentro" class="campo" placeholder="Nome do hemocentro">
            <input type="text" id="cnpj" class="campo" placeholder="CNPJ">
        </div><br>
        <div id="segunda" class="linha2">
            <input type="text" id="endereco" class="campoEndereco" placeholder="Endereço">
        </div><br>
        <div id="terceira" class="linha1">
            <input type="text" id="cidade" class="campo" placeholder="Cidade">
            <input type="text" id="estado" class="campo" placeholder="Estado">
        </div><br>
        <div id="quarta" class="linha1">
            <input type="text" id="telefone" class="campo" placeholder="Telefone para contato">
            <input type="text" id="emailRep" class="campo" placeholder=" Email do representante">        
        </div><br>
        <div id="quinta" class="linha1">
            <input type="text" id="diasColeta" class="campo" placeholder="Dias de coleta">
            <input type="text" id="horarioColeta" class="campo" placeholder="Horários de coleta">
        </div>




    </div>
</body>
</html>
